{% extends 'base.html.twig' %}

{% block title %}Hello UserEditController!{% endblock %}

{% block body %}
    {% include('navbar/index.html.twig') %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
